<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instagram</key>
	<dict>
		<key>consumerKey</key>
		<string>890d1f2505fb43ceb4b99a4218160d5e</string>
		<key>consumerSecret</key>
		<string>7dbb022db330480a8704aa8357b8c3d1</string>
	</dict>
</dict>
</plist>
